SECRET_KEY=change-me
DATABASE_URL=postgresql+psycopg2://maristmaps:maristmaps@127.0.0.1:5432/maristmaps

MARTIN_PUBLIC_URL=http://127.0.0.1:3000

# must match martin/config.yaml
MARTIN_SOURCE_ID=planet_osm_line
MARTIN_VECTOR_LAYER=planet_osm_line

MAP_CENTER_LON=-73.9857
MAP_CENTER_LAT=40.7484
MAP_ZOOM=14
