<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}maristmaps{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}{% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>
  <header class="app-topbar">
    {% block header %}
    <a href="{{ url_for('main.index') }}" class="header-link">Home</a>
    {% endblock %}
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <main>
  {% block content %}{% endblock %}
  </main>
</body>
</html>
